<!DOCTYPE html>
<html>
<head>
	<title>my movies</title>
</head>
<body>
<h1>movies</h1>
<ul>
	<% @movies.each do |movie| %>
    <li><%= @movie.title %></li>
    <% end %>

</ul>
<a href="/movies/new">Add new movie</a>


</body>
</html>