<!DOCTYPE html>
<html>
<head>
	<title>my movies</title>
</head>
<body>
<h1>movies</h1>
<ul>
	<li>movies</li>
	<li>go</li>
	<li>here</li>
</ul>
<a href="/movies/new">Add new movie</a>


</body>
</html>